<head>
    <style>
        body{
            margin:0 auto;
            padding:0;
        }
        /*Editor Styles*/
        #editor, #result{
            padding:50px;
            background: grey;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        legend{
            color: rgb(222, 222, 222);
            font-size: 24px;
        }
        fieldset, #result p{
            border: 3px solid rgb(222, 222, 222);
        }
        /*Result Styles*/
        #result p{
            background: white;
            padding:10px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
        }
    </style>
</head>
<body>
<div id="app">
<!--Editor-->
    <div id="editor">
        <fieldset>
            <legend>Box Spacing</legend>  
            <label for="espaciado"></label>
            <input type="range" min="0" max="200" v-model="spacing">
            <input type="text" name="espaciado" v-model="spacing">
        </fieldset>
        <fieldset>
            <legend>Element Spacing</legend>  
            <label for="e"></label>
            <input type="range" min="0" max="200" >
            <input type="text" name="e" >
        </fieldset>
        <fieldset>
                <legend>Skin</legend>  
                <label for="bgcolor">Background Color</label>
                <input type="color" name="bgcolor" v-model="bgcolor">
                <label for="ecolor">Element Color</label>
                <input type="color" name="ecolor" v-model="ecolor">
                <label for="accentColor">Accent Color</label>
                <input type="color" name="accentColor" v-model="accentColor">
            </fieldset>
    </div>

<!--Visualización-->
    <div id=visual :style="styleCaja">
        <header>
            <!--Esto es un h2 con background, text-align, padding y font-->
            <input type="text" value="Informes de ventas" :style="styleH2">
            <p style="text-align: justify;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            color: rgb(48, 47, 47);"
            >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </header>
        <nav>
        <ul style="
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        ">
            <li
            style=" 
            box-sizing: border-box;
            background:rgba(0,0,0,0.2);
            border: 2px solid rgba(0,0,0,0.21);
            ">
                <a href="#"
                style="color:white;
                font-weight: 100;
                letter-spacing: 2px;
                text-decoration: none;
                padding:20px;
                width: 100%;
                display: inline-block;
                text-align: center;"
                >Item 01</a>
            </li>
            <li
            style=" 
            box-sizing: border-box;
            background:rgba(0,0,0,0.2);
            border: 2px solid rgba(0,0,0,0.21);
            ">
                <a href="#"
                style="color:white;
                font-weight: 100;
                letter-spacing: 2px;
                text-decoration: none;
                padding:20px;
                width: 100%;
                display: inline-block;
                text-align: center;"
                >Item 02</a>
            </li>
            <li
            style=" 
            box-sizing: border-box;
            background:rgba(0,0,0,0.2);
            border: 2px solid rgba(0,0,0,0.21);
            ">
                <a href="#"
                style="color:white;
                font-weight: 100;
                letter-spacing: 2px;
                text-decoration: none;
                padding:20px;
                width: 100%;
                display: inline-block;
                text-align: center;"
                >Item 03</a>
            </li>
            <li
            style=" 
            box-sizing: border-box;
            background:rgba(0,0,0,0.2);
            border: 2px solid rgba(0,0,0,0.21);
            ">
                <a href="#"
                style="color:white;
                font-weight: 100;
                letter-spacing: 2px;
                text-decoration: none;
                padding:20px;
                width: 100%;
                display: inline-block;
                text-align: center;"
                >Item 04</a>
            </li>
        </ul>
        </nav>
    </div>
    <!--Result-->
    <div id=result>
        <p></p>
        <script>
            //Me falta meterle a sí mismo, es decir, el div visual
            //También hay que hacerlo dinámico con vue o generarlo con un click
            document.querySelector("#result p").innerText=document.querySelector("#visual").innerHTML;
        </script>
    </div>
</div>

<script src="http://unpkg.com/vue"></script>
<script src="main.js"></script>
</body>